<h1 style="text-align: center;">To-do list</h1>
<div class="container-todos">
  @for(todo of todosList$ | async; track todo){
    <!-- @if (todo.completed == true) {
      <div class="card-todo complete" >
        <h4>Tittle: {{todo.title}}</h4>
        <p>Completo</p>
      </div>
    } @else {
      <div class="card-todo incomplete">
        <h4>Tittle: {{todo.title}}</h4>
        <p>Incompleto</p>
      </div>
    } -->
    <div class="card-todo" [ngClass]="{'complete': todo.completed, 'incomplete': !todo.completed}">
      <h4>Título: {{todo.title}}</h4>
      <p>{{todo.completed ? 'Completo' : 'Incompleto'}}</p>
    </div>
  }
</div>
