<div style="display: flex; flex-direction: column;">
  <div>
    <h1 style="text-align: center; margin: 10px;">
      Lista de usuarios
    </h1>
    <h3 style="text-align: center; ">
      Consumindo API: <a href="https://jsonplaceholder.typicode.com/">https://jsonplaceholder.typicode.com/</a>
    </h3>
  </div>
  <div class="users">
    @for (user of usersList$ | async; track user) {
      <div class="card" [routerLink]="['/user', user.id]">
        <div>ID: {{user.id}}</div>
        <div>{{user.name}}</div>
      </div>
    }
  </div>
</div>

