.users{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 20px;
  padding: 30px;
  border: 1px solid white;
}
.posts{
  color: white;
  width: 75%;
}
.card{
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  width: 200px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 2px;
  cursor: pointer;
}
.card:hover{
  background-color: white;
  color: black;
}
a{
  text-decoration: none;
  color: cadetblue;
}
