.container-posts{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-post{
  margin: 10px;
  background-color: gray;
  padding: 5px;
  width: 80%;
  border-radius: 10px;
  cursor: pointer;

  &:hover{
    background-color: white;
    color: black;
  }
}
